rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Students — sirf apna data dekh aur likh sake
    match /students/{userId} {
      allow read, write: if request.auth != null
                         && request.auth.uid == userId;
    }

    // Content (notes, videos) — sirf logged-in users read kar sake
    match /content/{document} {
      allow read: if request.auth != null;
      allow write: if false;
    }

    // Tests — sirf logged-in users
    match /tests/{testId} {
      allow read: if request.auth != null;
      allow write: if false;
    }

    // Test Results — sirf apna result dekh sake
    match /results/{userId} {
      allow read, write: if request.auth != null
                         && request.auth.uid == userId;
    }

    // Baaki sab block
    match /{document=**} {
      allow read, write: if false;
    }
  }
}